  #navbar{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: rgb(4, 0, 12);
    margin-left: 3rem;
    margin-right: 3rem;
  }

  nav .name{
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
  }
  .links{
    width: 40%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  nav a{
    text-decoration: none;
    font-size: 18;
    color: rgb(203, 194, 202);
  }
  nav img{
    width: 150px;
    height: 80px;
    margin-top: 0.8rem;
  }
  nav a:hover{
    color:rgb(88, 96, 172);
  }
  .lines{
    display: none;
  }
  .lines:checked .links{
    display: block;
  }
  .lines:hover{
    color: #f1f1f1
  }


  @media screen and (max-width:650px) {
    .links{
      display: none;
      background: rgb(47, 33, 137);
    }
    .lines{
      display: block;
      color: rgb(203, 194, 202);
    }
    .lines .line{
      width: 25px;
      height: 25px;
    }



    
  }


  /* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background: linear-gradient( rgb(3, 7, 43),rgb(32, 35, 64),rgb(5, 6, 19));
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(203, 194, 202);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: rgb(203, 194, 202);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}