.App {
  background-color: rgb(4, 0, 12);
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App .azad{
  background: linear-gradient( rgb(9, 15, 67),rgb(16, 30, 148),rgb(1, 3, 24));
  width: 35px;
  height: 35px;
  position:fixed;
  z-index: 1;
  right: 3rem;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.azad .iconArrow{
  color: white;
  width: 25px;
  height: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:450px) and (min-width:360px) {
  .App .azad{
    background: linear-gradient( rgb(9, 15, 67),rgb(16, 30, 148),rgb(1, 3, 24));
    width: 35px;
    height: 35px;
    position:fixed;
    z-index: 1;
    right: 2rem;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .azad .iconArrow{
    color: white;
    width: 25px;
    height: 25px;
  }
}
